<html>
<title> ml </title>
<style>
    .Astyle{
    padding-right:20px; 
    color: blanchedalmond;
    font-size: 19px;
     }
</style>

<div style="background-color: black;text-align: center;">
    
    <div style="text-align: center;padding-bottom: 40px;padding-top: 40px;"> 
        <h1 style="color: blanchedalmond;">Auto ML</h1>
	</div>
	<div style="text-align: right;padding-right: 250px;text-decoration-color: blanchedalmond;">
		<a href = "{% url 'home'%}", class="Astyle">Home</a>
		<a href = "{% url 'model'%}", class = 'Astyle'>PreTrainedModels</a>
		<a href="{% url 'upload'%}", class = 'Astyle'>RealTimeImplementation</a> 
		</div>
</div>
<br>
{% if not z %}
<h3>Fill all the data.</h3>
{% endif %}
<body style = "text-align: center;">


	<!--{% if test %}
	<form action = 'ml1/' , method = 'post'> 
	{% csrf_token %}
	{% for i in cols %}
	{{i}}:<input type={{i}} , name ={{i}}></input>
	{% endfor %}
	<input type = "submit", value = "Submit"></input>
	</forms>
	{% endif %}
	{% if test1 %}
	<center>
		<h3>The test result is {{y_pred}} </h3>
		<h3> Thank you for staying with us </h3>
	
	</center>
	{% endif %}-->
	
	

{% if z %}
<center> 
	<h3> Final result </h3>
	<h4> The target column is {{label}}</h4>
	<h4> Accuracy score on test set is {{ac1}}</h4>
	<br><br>
	<h4> If you want to test your own data then click on yes, if not no</h4>
<form action ="ml", method = "post">
	{% csrf_token %}	
	<input type = "checkbox", name = "test", value = "Y"> Yes </input>
	<input type  = "checkbox", name = "test", value = "N"> No </input><br>
	<input type = "submit", value = "submit"></input>
</form>
</center>
{% endif %}


{% if not z %}
<h5> Enter the label name by seeing the below data </h5>
<form action = 'ml', method = 'post'>
{% csrf_token %}
Preprocess:<input type = 'checkbox' , name = "Preprocess", value = 'Y'> Yes </input>
			
<input type = "checkbox", name = "Preprocess", value = 'N'> No </input>
<br>
<br>
Label Name:
<select name = "Label Name">
{% for i in col %}
	<option value = "{{i}}"> {{i}} </option>
{% endfor %}
</select>
<br>
<h6> Choose the label name as shown in drop down column</h6>
<br>
Split Percentage:<input type = "Split Percentage", name ="split"></input><br>

<h6> Enter only numerical values. It is for test size only.<br> Choose below 25%</h6><br>
{% for j in col%}&nbsp;{% endfor %}
<input type ='submit' , value = "Submit"></input>
</form>
 <br> 
{% endif %}
</body>




<!--{% for instance in data|slice:":1"%}
<h5> Choose the label from below Column Names</h5>
    {% for field, value in instance.fields.items %}
        {{ field }}
<br>
    {% endfor %}
{% endfor %}-->
<div style  = "background-color: black;text-align: center;text-rendering: geometricPrecision;padding-top: 10px; padding-bottom : 10px;">
    <h3 style="color: blanchedalmond;">Contact me at </h3>
    <h3 style="color: blanchedalmond;">sainadh086@gmail.com</h3>
</div>
</html>
