<html>
<title>Homepage</title>
<style>
    .Astyle{
    padding-right:20px; 
    color: blanchedalmond;
    font-size: 19px;
     }
     .style_head{
        padding-left: 10px;
        font-size: 20px;
        font-style: normal;
    }
    .style_text{
        padding-left: 15px;
        font-size: 18px;
        font-style: normal;
    }
    .style_head1{
        padding-left: 10px;
        font-size: 18px;
        font-style: normal;
    }
    .style_text1{
        padding-left: 15px;
        font-size: 16px;
        font-style: normal;
    }
</style>
<div style="background-color: black;text-align: center;">
    
    <div style="text-align: center;padding-bottom: 40px;padding-top: 40px;"> 
        <h1 style="color: blanchedalmond;">Auto ML</h1>
    </div>
    <div style="text-align: right;padding-right: 250px;text-decoration-color: blanchedalmond;">
    <a href = "{% url 'home'%}", class="Astyle">Home</a>
    <a href = "{% url 'model'%}", class = 'Astyle'>PreTrainedModels</a>
    <a href="{% url 'upload'%}", class = 'Astyle'>RealTimeImplementation</a> 
    </div>
</div>

<div style= 'background-color: darkgrey;padding-top: 15px;padding-bottom:10px;'>
<body style="text-decoration-color: blue;"> 
<h3 class="style_head">Aim of the platform</h3>
<p class="style_text">This platform is powered to showcase the core machine learning problems and solutions. As the platform evolves you can see
    solutions for various kinds of problems and can be solved in few simple clicks.
    As of now we are having 2 sections one is for pre-trained models and another one is for real time data analysis and showcasing the results.
</p>
<h3 class="style_head">Pre-trained Models</h3>
<p class="style_text"> We have 2 pretrained models for solving the problems on natural language processing.<br>
     1) Sentiment analysis<br>  
     2) Text classification.
</p>
<h3 class = "style_head1">Sentiment Analysis</h3>
<p class ="style_text1">Sentiment analysis is the interpretation and classification of emotions (positive, negative and neutral) within text data using text analysis techniques. 
    Sentiment analysis tools allow businesses to identify customer sentiment toward products, brands or services in online feedback. Here we are classifying the movie review into postive or negative. </p>
<h3 class="style_head1">Text classification</h3>
<p class="style_text1">

    Text classification also known as text tagging or text categorization is the process of categorizing text into organized groups. By using Natural Language Processing (NLP), 
    text classifiers can automatically analyze text and then assign a set of pre-defined tags or categories based on its content.
    
    Unstructured text is everywhere, such as emails, chat conversations, websites, and social media but it’s hard to extract value from 
    this data unless it’s organized in a certain way. Doing so used to be a difficult and expensive process since it required spending time and 
    resources to manually sort the data or creating handcrafted rules that are difficult to maintain. Text classifiers with NLP have proven to be a great 
    alternative to structure textual data in a fast, cost-effective, and scalable way.<br>
    *Working on twitter dataset for classifying the news into fake or real. </p>

<h3 class = "style_head">RealTimeImplementation</h3>
<p class = "style_text">In RealTimeImplementation you are going to simply upload the data and give the target label. As of now I am using
    Logistic Regression algorithm for analysis of the data. You can also test with test data for seeing the results. 
This is not limited to a particular dataset as we seen in the PreTrainedModels. Exploring different waays to solve the problem simple and in a easy 
way. There are lots of libraries and algorithms to choosen from, for a unique problem there are different solutions. Here is my way of solving 
the problem in general way and to help accerelate the problem solving.</p>

<h3 class="style_head">Enquiry details</h3>
<p class="style_text">If you are having any problems and suggestions contact me at below details.</p>
</body>

</div>



<div style  = "background-color: black;text-align: center;text-rendering: geometricPrecision;padding-top: 10px; padding-bottom : 10px;">
    <h3 style="color: blanchedalmond;">Contact me at </h3>
    <h3 style="color: blanchedalmond;">sainadh086@gmail.com</h3>
</div>
</html>