<html>
        <title>
            test env
        </title>

        <style>
          .Astyle{
          padding-right:20px; 
          color: blanchedalmond;
          font-size: 19px;
           }
      </style>

        <div style="background-color: black;text-align: center;">
    
          <div style="text-align: center;padding-bottom: 40px;padding-top: 40px;"> 
              <h1 style="color: blanchedalmond;">Auto ML</h1>
          </div>
          <div style="text-align: right;padding-right: 250px;text-decoration-color: blanchedalmond;">
            <a href = "{% url 'home'%}", class="Astyle">Home</a>
            <a href = "{% url 'model'%}", class = 'Astyle'>PreTrainedModels</a>
            <a href="{% url 'upload'%}", class = 'Astyle'>RealTimeImplementation</a> 
            </div>
          </div>


      <body>
          {% if test1 %}
          <center>
            <form action = "ml1", method ="POST">
                {% csrf_token %}
                <h4> If you want to enter test env click on Yes else No</h4>
                <input type="checkbox", name="t1", value = 'Y'> Yes</input>
                <input type="checkbox", name = "t1", value="N"> N </input>
            </form>
        </center>
        {% endif %}



          {% if test2 %}
          <h3> Enter your test data</h3>
          <form action = "ml1", method="POST">
            {% csrf_token %}
              {% for i in col %}
              {{i}}:<input type={{i}}, name = "{{i}}"></input>
              <br><br>
                {% endfor %}
                <input type="submit", value="submit"></input>
          </form>
          {% endif %}

          {% if test3 %}
          <center>
          <h3>The final result for the input data is {{y_pred}}</h3>
          <h3>Thank you for staying with us!</h3>
          <h6> The data you uploded will be deleted automatically for privacy concerns. </h6>
          </center>
          {% endif %}
          {% if test4 %}
          <center>
            <h3> Thankyou for staying with us!</h3>
            <h6> The data you uploded will be deleted automatically for privacy concerns. </h6>
          </center>
          {% endif %}
      </body>
      <div style  = "background-color: black;text-align: center;text-rendering: geometricPrecision;padding-top: 10px; padding-bottom : 10px;">
        <h3 style="color: blanchedalmond;">Contact me at </h3>
        <h3 style="color: blanchedalmond;">sainadh086@gmail.com</h3>
    </div>
</html>
