<html>
<title>Homepage</title>
<style>
    .Astyle{
    padding-right:20px; 
    color: blanchedalmond;
    font-size: 19px;
     }
     .new_style{
        background-color: darkgrey;
        padding-top: 15px;
        padding-bottom:10px;
     }
</style>
<div style="background-color: black;text-align: center;">
    
    <div style="text-align: center;padding-bottom: 40px;padding-top: 40px;"> 
        <h1 style="color: blanchedalmond;">Auto ML</h1>
    </div>
    <div style="text-align: right;padding-right: 250px;text-decoration-color: blanchedalmond;">
    <a href = "{% url 'home'%}", class="Astyle">Home</a>
    <a href = "{% url 'model'%}", class = 'Astyle'>PreTrainedModels</a>
    <a href="{% url 'upload'%}", class = 'Astyle'>RealTimeImplementation</a> 
    </div>
</div>


<div class="new_style">
<center>
    {% if not z %}
<form action="model", method = "POST" >
    {% csrf_token %}
Input text:
<input type="text", name = "text_data" ></input><br><br>
<input type = "checkbox", name = "test", value = "Sentiment"> Sentiment Analysis on Movie Review</input><br>
<input type  = "checkbox", name = "test", value = "Classify"> Twitter Review Classification </input><br><br>
<input type = "submit", value="Submit"></input>
</form>
{% endif %}
{% if z1 %}
    The entered movie review is {{output}}
    {% endif %}
{% if z2 %}
    Working on the data to provide more solutions, comeback later for more details
{% endif %}

</center>
</div>




<div style  = "background-color: black;text-align: center;text-rendering: geometricPrecision;padding-top: 10px; padding-bottom : 10px;">
    <h3 style="color: blanchedalmond;">Contact me at </h3>
    <h3 style="color: blanchedalmond;">sainadh086@gmail.com</h3>
</div>
</html>