<html>
<title>Upload</title>
<style>
  .Astyle{
  padding-right:20px; 
  color: blanchedalmond;
  font-size: 19px;
   }
</style>
<div style="background-color: black;text-align: center;">
    
  <div style="text-align: center;padding-bottom: 40px;padding-top: 40px;"> 
      <h1 style="color: blanchedalmond;">Auto ML</h1>
  </div>
  <div style="text-align: right;padding-right: 250px;text-decoration-color: blanchedalmond;">
    <a href = "{% url 'home'%}", class="Astyle">Home</a>
    <a href = "{% url 'model'%}", class = 'Astyle'>PreTrainedModels</a>
    <a href="{% url 'upload'%}", class = 'Astyle'>RealTimeImplementation</a> 
    </div>
  </div>
<center>
<body>
  {% if not z %}
  <h3> Upload the csv file </h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile"></input>
    <br>
    <button type="submit">Upload</button>
  </form>
  {% endif %}
{% if z %}
<h3>File uploded to the destination</h3>
<form action ='data_display'>
<h4> Data is in your destination to know the more about data click below</h4>
<button type="submit">Go</button>
</form>
{% endif %}

</body>
</center>
<div style  = "background-color: black;text-align: center;text-rendering: geometricPrecision;padding-top: 10px; padding-bottom : 10px;">
  <h3 style="color: blanchedalmond;">Contact me at </h3>
  <h3 style="color: blanchedalmond;">sainadh086@gmail.com</h3>
</div>
</html>
